#https://www.freedesktop.org/software/systemd/man/systemd.service.html
#using same logic as entry_point.sh from jboss image

[Unit]
Description=jboss
After=network.target syslog.service
Requires=syslog.service

[Service]
PassEnvironment=ENM_JBOSS_SDK_CLUSTER_ID
PassEnvironment=ENM_JBOSS_BIND_ADDRESS
PassEnvironment=JGROUPS_STACK
PassEnvironment=ENM_JBOSS_JGROUPS_BIND_ADDRESS
PassEnvironment=GOSSIPROUTERS_FOR_SFWK
PassEnvironment=GOSSIPROUTERS_FOR_EAP
PassEnvironment=GOSSIPROUTER_EAP7_PORT
PassEnvironment=GOSSIPROUTER_EAP7_SERVICE_HOST
PassEnvironment=GOSSIPROUTER_EAP7_SERVICE_PORT
PassEnvironment=GOSSIPROUTER_EAP7_SERVICE_PORT_EAP7
PassEnvironment=GOSSIPROUTER_EAP7_PORT_12003_TCP
PassEnvironment=GOSSIPROUTER_EAP7_PORT_12003_TCP_ADDR
PassEnvironment=GOSSIPROUTER_EAP7_PORT_12003_TCP_PORT
PassEnvironment=GOSSIPROUTER_EAP7_PORT_12003_TCP_PROTO
PassEnvironment=JAVA_HOME
PassEnvironment=DPS_PERSISTENCE_PROVIDER
PassEnvironment=NEO4J_CLUSTER
PassEnvironment=JMS01_PORT
PassEnvironment=POSTGRES_SERVICE
PassEnvironment=POSTGRES_SERVICE_PORT
PassEnvironment=POSTGRES_SERVICE_HOST
PassEnvironment=POSTGRES_SERVICE_PORT_POSTGRESQL
PassEnvironment=POSTGRES_REPLICA_SERVICE_PORT_POSTGRESQL
PassEnvironment=JBOSS_CONF
PassEnvironment=GLOBAL_CONFIG
PassEnvironment=FM_VIP_ADDRESS
PassEnvironment=CM_VIP_ADDRESS
PassEnvironment=PM_VIP_ADDRESS
PassEnvironment=container
PassEnvironment=WEBPUSH_SERVICE_DNS_NAME
PassEnvironment=TLS_MOUNT_PATH
PassEnvironment=FM_VIP_ADDRESS_IPV6
PassEnvironment=CM_VIP_ADDRESS_IPV6
PassEnvironment=PM_VIP_ADDRESS_IPV6
PassEnvironment=CENM_DEPLOYMENT
PassEnvironment=CENM_MQ_HostKey
PassEnvironment=CENM_MQ_Username
PassEnvironment=CENM_MQ_Password
Type=forking
PIDFile=/var/run/jboss/jboss.pid
ExecStartPre=/usr/bin/rm -rf /var/lock/subsys/jboss
ExecStart=/ericsson/3pp/jboss/startup.sh
ExecStop=/usr/bin/rm -rf /var/lock/subsys/jboss
TimeoutStartSec=600
TimeoutStopSec=600
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=JBOSS

[Install]
WantedBy=multi-user.target
Alias=jboss.service